@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Cantarell, sans-serif;
    font-size: 100%;
    color: #4d4d4d;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
    color: #609BA7;
    text-transform: uppercase;
}

h3 {
    font-size: 1.1em;
}

i {
    color: #609BA7;
}

a {
    text-decoration: none;
    color: #4d4d4d;
}

a:hover {
    color:rgb(222, 117, 68);
}

/* Content Containers */

.content-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Container Wrappers */

.container-wrapper--blue {
    background: rgb(96, 155, 167, 0.2)
}

/* Page Headers */

.page-header {
    color: #DE7544;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
}

/* Tables */

.table {
    margin-left: auto;
    margin-right: auto;
    --bs-table-striped-bg: rgb(222, 117, 68, 0.1);
}

/* About Divs */

.charlotte-image {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 100%;
}

.about-bulletpoints {
    padding: 20px;
}

.about-text {
    padding-top: 15px;
}

/* Nav Bar */

.nav-link {
    color: #609BA7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: #DE7544;
}

/* Contact Form */

form {
    background-color: rgb(222, 117, 68, 0.1);
    padding: 1em;
    border: 1px solid rgb(222, 117, 68, 0.7);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.form-control {
  border: 1px solid rgb(222, 117, 68, 0.7);
  border-radius: 4px;
  background-color: white;
  color: #4d4d4d;
}

.btn {
    width: 100%;
    --bs-btn-color: white;
    --bs-btn-bg: rgb(222, 117, 68);
    --bs-btn-border-color: rgb(222, 117, 68);
}

.btn:hover {
    --bs-btn-bg: rgb(222, 117, 68, 0.7);
}

/* Contact Form */

.footer-h2 {
    padding-bottom: 10px;
}

.footer-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.qualification-logo {
    height: auto;
    max-width: 40%;
}

.footer-qualifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-logos-text {
    text-align: right;
}
