@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Cantarell, sans-serif;
    font-size: 100%;
    color: #4d4d4d;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}

/* Content Containers */

.content-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Container Wrappers*/

.container-wrapper--blue {
    background: rgb(96, 155, 167, 0.2)
}

/* Page Headers */

.page-header {
    color: #DE7544;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.5em;
}

/* Tables */

.table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
